<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<!--Tymeleaf namesapce-->
<head>
    <title>Corona Virus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

<div class="container"><!--Center align the content-->
    <div class="jumbotron">
        <h1 class="display-4">Total number of cases as of today...</h1>
        <p th:text="${totalCases}"></p>
    </div>
    <table class="table table-hover">
        <tr>
            <th>Province</th>
            <th>State</th>
            <th>Total number of cases</th>
            <th>Change</th>
        </tr>
        <tr th:each="locationStat : ${modelAttrib}">
            <td th:text="${locationStat.province}" ></td>
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.totalCases}"></td>
            <td th:text="${locationStat.caseDelta}"></td>
        </tr>
    </table>
</div>

</body>

</html>